In [49]:
import pandas as pd
import numpy as np

In [50]:
#import data into data frame
online_retail_df = pd.read_csv('online_retail.csv')
print(online_retail_df)
online_retail_df_cleaned = online_retail_df.copy()

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                     ...        ...         ...             ...
541904  2011-12-09 12:50:00       0.85     12680.0          France
541905  2011-12-09 12:50:00       2.10     12680.0          France
541906  2011-12-09 12:50:00       4.15     12680.0          France
541907  2011-12-09 12:50:00       4.15     12680.0          France
541908  2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

In [51]:
#remove duplicate rows
online_retail_df_cleaned = online_retail_df.drop_duplicates()

In [52]:
#drop rows with missing values
online_retail_df_cleaned = online_retail_df.dropna()

In [53]:
#Convert CustomerID to numeric int instead of float
online_retail_df_cleaned.loc[:, 'CustomerID'] = pd.to_numeric(online_retail_df_cleaned['CustomerID'])
online_retail_df_cleaned.loc[:, 'CustomerID'] = online_retail_df_cleaned['CustomerID'].astype(int)

In [54]:
#Convert UnitPrice to numeric
online_retail_df_cleaned.loc[:, 'UnitPrice'] = pd.to_numeric(online_retail_df_cleaned['UnitPrice'])

In [55]:
#Convert Quantity to numeric
online_retail_df_cleaned.loc[:, 'Quantity'] = pd.to_numeric(online_retail_df_cleaned['Quantity'])

In [58]:
#Convert InvoiceDate to datetime
online_retail_df_cleaned.loc[:, 'InvoiceDate'] = pd.to_datetime(online_retail_df_cleaned['InvoiceDate'])

In [59]:
#Remove non-numeric values by converting them to NaN
online_retail_df_cleaned['Quantity'] = pd.to_numeric(online_retail_df_cleaned['Quantity'], errors='coerce')

#Drop rows with NaN values
online_retail_df_cleaned = online_retail_df_cleaned.dropna(subset=['Quantity'])

#Convert the 'value' column to integers
online_retail_df_cleaned['Quantity'] = online_retail_df_cleaned['Quantity'].astype(int)

#Filter out non-positive integers
online_retail_df_cleaned = online_retail_df_cleaned[online_retail_df_cleaned['Quantity'] > 0]

In [60]:
# Replace commas with underscores
online_retail_df_cleaned['Description'] = online_retail_df_cleaned['Description'].str.replace(',','_')

In [61]:
#Create a new column 'Total' as the sum of 'Quantity' and 'UnitPrice'
online_retail_df_cleaned.loc[:,'Total'] = online_retail_df_cleaned['Quantity'] * online_retail_df_cleaned['UnitPrice']

In [62]:
#Reset the index of the DataFrame
online_retail_df_cleaned = online_retail_df_cleaned.reset_index(drop=True)

In [64]:
#Save the cleaned DataFrame to a new CSV file
online_retail_df_cleaned.to_csv('online_retail_df_cleaned.csv', index=False)

In [65]:
print(online_retail_df_cleaned)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
397919    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
397920    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
397921    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
397922    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
397923    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country  Total
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom  15.30
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom  22.00
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
...                     ...        ...         ...             ...    ...
397919  2011-12-09 12:50:00       0.85     12680.0          France  10.20
397920  2011-12-09 12:50:00       2.10     12680.0          France  12.60
397921  2011-12-09 12:50:00       4.15     12680.0          France  16.60
397922  2011-12-09 12:50:00       4.15     12680.0          France  16.60
397923  2011-12-09 12:50:00       4.95     12680.0          France  14.85

[397924 rows x 9 columns]

In [66]:
online_retail_df_cleaned.info

<bound method DataFrame.info of        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
397919    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
397920    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
397921    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
397922    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
397923    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

                InvoiceDate  UnitPrice  CustomerID         Country  Total
0       2010-12-01 08:26:00       2.55     17850.0  United Kingdom  15.30
1       2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
2       2010-12-01 08:26:00       2.75     17850.0  United Kingdom  22.00
3       2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
4       2010-12-01 08:26:00       3.39     17850.0  United Kingdom  20.34
...                     ...        ...         ...             ...    ...
397919  2011-12-09 12:50:00       0.85     12680.0          France  10.20
397920  2011-12-09 12:50:00       2.10     12680.0          France  12.60
397921  2011-12-09 12:50:00       4.15     12680.0          France  16.60
397922  2011-12-09 12:50:00       4.15     12680.0          France  16.60
397923  2011-12-09 12:50:00       4.95     12680.0          France  14.85

[397924 rows x 9 columns]>